<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.min.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/custom.css"}}" />

    <link href="https://fonts.googleapis.com/css?family=Alice" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    {{#is "home"}} 
    <header class="index-header" style="background-image: url({{@blog.cover_image}});background-repeat: repeat;background-size: inherit;">
        {{else}}
        <header> 
            {{/is}}
            <nav role="navigation">
                <ul>
                    <li>
                        {{#if @blog.logo}}
                        <img src="{{@blog.logo}}" class="logo-nav" alt="Blog Logo"/>
                        {{/if}}
                        <a href="{{@blog.url}}" class="nav-link">Fox<span class="ampersant">&nbsp;&amp;&nbsp;</span>Raven</a>
                    </li>
                    {{#get "tags" limit="all"}}
                    {{#foreach tags}}
                    <li>
                        <a href="{{url}}" class="nav-link" title="{{name}}">{{name}}</a>
                    </li>
                    {{/foreach}}
                    {{/get}}
                    <li>
                        <a href="/contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </nav>


            {{#is "home"}}
            {{#get "tags" limit="all"}}
            {{!-- <div class="vertical"> --}}
                <ul class="post-tags-holder">
                    {{#foreach tags}}
                    <li class="_post-tags">
                        <a href="{{url}}" title="{{name}}">
                            <div class="tag-image">
                                <div class="tag-title-div" style="background: url({{img_url feature_image}});">
                                    <p class="tag-title-p">{{name}}</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    {{/foreach}}
                </ul>
            {{!-- </div> --}}
            {{/get}}
            {{/is}}

        </header>

        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer class="site-footer">
            <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>
            <div class="inner">
               <section class="copyright">
               &copy; {{date format="YYYY"}} <a href="{{@blog.url}}/">{{@blog.title}}</a>
               </section>
           </div>
       </footer>
       {{ghost_foot}}
   </body>
   </html>
