<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

<!-- <header class="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
-->
<header class="site-head" style="background-image: url({{@blog.cover}})"> 
    <nav role="navigation" class="site-navigation main-navigation">
        <!-- <div class="menu-main-container"> -->
        <ul id="menu-main" class="menu">

            <li>
                {{#if @blog.logo}}
                <img src="{{@blog.logo}}" alt="Blog Logo" style="max-height:16px;" />
                {{/if}}
                <a href="{{@blog.url}}">{{@blog.title}}</a>
            </li>
            <li>
                <a href="#">BXL</a>
            </li>
        </ul>
        <!-- </div> -->
    </nav><!-- .site-navigation .main-navigation -->

    {{#is "home"}}

    <div class="vertical">
        <ul class="post-tags-holder">
            <li class="_post-tags">
                <div class="tag-image">
                    <div class="tag-title-div" style="background: url(/assets/img/dr-phil1.jpg);">
                        <p class="tag-title-p">We want You!</p>
                    </div>
                </div>
            </li>
            <li class="_post-tags">
                <div class="tag-image">
                    <div class="tag-title-div" style="background: url(/assets/img/Dr-phil.jpg);">
                        <p class="tag-title-p">Look at my hands!</p>
                    </div>
                </div>
            </li>
            <li class="_post-tags">
                <div class="tag-image">
                    <div class="tag-title-div" style="background: url(/assets/img/DrPhil__120910180727.jpg);">
                        <p class="tag-title-p">My arms are crossed.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    {{/is}}

</header>

<div style="clear: both;"></div>

{{! Everything else gets inserted here }}
{{{body}}}

<footer class="site-footer">
    <a class="subscribe icon-feed" href="{{@blog.url}}/rss/"><span class="tooltip">Subscribe!</span></a>
    <div class="inner">
     <section class="copyright">&copy; {{date
         format="YYYY"}} <a href="{{@blog.url}}/">{{@blog.title}}</a>
     </section>
 </div>
</footer>

{{! Ghost outputs important scripts and data with this tag }}
{{ghost_foot}}

{{! The main JavaScript file for Landscape }}
<!-- <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script> -->
<script type="text/javascript" src="{{asset "js/index.js"}}"></script>
<script type="text/javascript" src="{{asset "js/small-menu.js"}}"></script>

</body>
</html>
